﻿
@{
    ViewBag.Title = "HomePage";

}

<div class="text-center">
    <h1>site for accounting of online courses</h1><br />

    <button class="btn btn-primary" onclick="window.location.href= '@Url.Action("Index","CourseView")'">Courses Details</button>
    <button class="btn btn-primary" onclick="window.location.href= '@Url.Action("Index","GroupView")'">Groups Details</button>
    <button class="btn btn-primary" onclick="window.location.href= '@Url.Action("Index","StudentsView")'">Students Details</button>
    <button class="btn btn-primary" onclick="window.location.href= '@Url.Action("Index","TeachersView")'">Teachers Details</button>
</div>
