.main {
    position: fixed;
    top: 1px;
    width: 100%;
    background-color: #333; /* Змініть на ваш колір фону */
    color: #fff; /* Змініть на ваш колір тексту */
    padding: 10px 0; /* Додайте/змініть відступи, як вам потрібно */
    z-index: 1000; /* Забезпечте, щоб заголовок був над усім іншим контентом */
    background-color : black
}


/* Додайте додатковий стиль, якщо необхідно для іншого контенту на сторінці */
body {
    padding-top: 60px; /* Якщо заголовок має фіксовану висоту, додайте відповідний верхній відступ */
    padding-bottom: 60px; /* Якщо підвал має фіксовану висоту, додайте відповідний нижній відступ */
}
